<p class="lead">Keywords</p>
<p><em>Suggested Keywords:</em></p>
<p><%= @selected_program.suggested_keywords %></p>
<br>
<p><em>Restricted Keywords:</em></p>
<p><%= @selected_program.restricted_keywords %></p>